

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to left, #94A69F, #DAD3D0);
}

main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #424b488c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #636FA8;
    text-align: center;
    text-shadow: 1px 1px 4px #444d74da;
}

h2 {
    color: #7B8C87;
}

p {
    text-align: justify;
}